@media screen and (max-width:900px)and (min-width:320px){
    body{
        width: auto;
        height: auto; box-sizing:content-box;
    }
    .container{
        margin: 0%;
        justify-items: flex-start;
    }
    header,main{
        margin-left: 3%;
        margin-right: 0%;
    }
    div span{
        display: block;
        margin-bottom: 20px;
    }
    li img{
        align-self: center;
    }
}